---
import '../styles/base.css';

interface Props {
	frontmatter: {
		title: string;
	};
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<header>
			<slot />
		</header>
	</body>
</html>

<style is:global>
	body {
		@apply m-2;
	}
	h1 {
		@apply text-4xl font-bold;
	}
</style>
